# Binaries for programs and plugins
node_modules/
version.txt
*.dll
*.so
*.dylib
**/bin/
cmd/bin/
**/linux-bin/
*/bin/*
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
**/testdata/

# iginore  jetbrains goland/idea setting path
.idea/

.DS_Store

*.rdb
